.nav{
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    color:rgb(182, 182, 182);
    font-size: 12px;
    padding: 20px 12%;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Tahoma, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, sans-serif;
}

.link_con{
    display: flex;
    gap: 10px;
}

.link_active{
    color: white;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Tahoma, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, sans-serif;
}